* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em ;
	background-image: url("background.jpg");
	margin:0 auto ;
	padding: 0 ;
	border: 0;
}


section {
	border: 0px;
	background-color: #fff;
	width: 980px;
	margin: 0 auto;
}

header {
	text-align: center;
	background-color: #45A3BC;
	background-image: url("mcgill.jpg");
	background-repeat: no-repeat;
	color: white;
	height: 7em;
}

nav {
	width: auto;
	height: 30px;
	background: #708090;
}

#navmenu , .submenu{
	list-style-type: none;	
}

#navmenu li {
	width: 125px;
	text-align: center;
	position: relative;
	float: left;
	margin-right: 4px;
	font-variant: small-caps;
	letter-spacing: 1.5px;
}

#navmenu a {
	text-decoration: none;
	display: block;
	width: 125px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

.submenu a {
	margin-top: 2px;
}

#navmenu li:hover a {
	background-color: #45A3BC;
}

#navmenu .submenu {
	display: none;
	position: absolute;
	top: 26px;
	left: 0px;
}

#navmenu li:hover .submenu  {
	display: block;
}

.social {
	width: 130px;
	height: 40px;
	position: absolute;
}

.social p{
  float: left;
}

.social > p:nth-child(1) > a::before {
	content:url('facebook.png');
	padding-right: 10px;
}

.social > p:nth-child(2)>a::before {
	content:url('twitter.png');
	padding-right: 10px;
}

.social > p:nth-child(3)>a::before {
	content:url('linkedin.png');
	padding-right: 10px;
}

footer {
    clear: both;
	font-style: italic;
	font-size: 1em;
	text-align: center;
	background: #45A3BC;
	height: 50px;
	padding-top: 5px;
	color: #ececec;
	font-weight: bold;
}