section h4{
	color: #ececec;
	font-style: italic;
	text-align: center;
	background: #45A3BC;
	padding-top: 10px;
}

#imageBox {
	margin-left: 100px;
}

#intro, #text{
	padding: 15px 0;
	margin: 0 25px;
	text-align: justify;
}